@model IEnumerable<AboutMeViewModel>
@{ int count = 0; }

<link rel="stylesheet" href="~/css/test.css" />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<section class="our-blog p-0 m-0 bg-silver">
    <div class="container work-process  pb-5 pt-5">
        <div class="title mb-5 text-center">
            <h3>За <span class="site-color">мен</span></h3>
            @if (this.User.IsInRole("Administrator"))
            {
                <a type="button" asp-area="" asp-controller="AboutMe" asp-action="Add" class="btn btn-primary btn-sm">Добави</a>
            }
        </div>
        @foreach (var about in Model)
        {
            count++;
            if (count % 2 != 0)
            {
<div class="row">
    <div class="col-md-5">
        <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
            <div class="row">
                <div class="col-md-5">
                    <div class="process-step">
                        <p class="m-0 p-0">@about.Title</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <p>@about.Description</p>
                    @if (this.User.IsInRole("Administrator"))
                    {
<a type="button" asp-area="" asp-controller="AboutMe" asp-action="Edit" asp-route-id="@about.Id" class="btn btn-warning btn-sm">Редактирай</a>
                        <a type="button" asp-area="" asp-controller="AboutMe" asp-action="Delete" asp-route-id="@about.Id" class="btn btn-danger btn-sm">Изтрий</a>}
                </div>
            </div>
            <div class="process-line-l"></div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <div class="process-point-right"></div>
    </div>
</div> }
            else
            {
                <div class="row">
                <div class="col-md-5">
                <div class="process-point-left"></div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="process-step">
                                    <p class="m-0 p-0">@about.Title</p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <p>@about.Description</p>
                                @if (this.User.IsInRole("Administrator"))
                                {
                                    <a type="button" asp-area="" asp-controller="AboutMe" asp-action="Edit" asp-route-id="@about.Id" class="btn btn-warning btn-sm">Редактирай</a>
                                    <a type="button" asp-area="" asp-controller="AboutMe" asp-action="Delete" asp-route-id="@about.Id" class="btn btn-danger btn-sm">Изтрий</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            }
         }
    </div>
</section>

