@model AppointmentInputModel


<div class="container col-md-4">
    <h2 class="text-center">Запази час</h2>
    <form asp-area="" asp-controller="Appointments" asp-action="Add" method="post" class="form-horizontal">


        <div class="form-group">
            <label for="exampleFormControlSelect1">Процедура</label>
            <select class="form-control" asp-for="@Model.Procedure" asp-items="@Model.Procedures"></select>
        </div>

        <fieldset class="form-group row">
            <label class="col-sm-10">Имате ли стар лак за махане</label>
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" asp-for="@Model.OldPolish" name="OldPolish" id="gridRadios1" value="Да" checked>
                        Да
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" asp-for="@Model.OldPolish" name="OldPolish" id="gridRadios2" value="Не">
                        Не
                    </label>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label>Избери дата</label>
            <div id="busyId"></div>
            <input class="form-control" asp-for="@Model.Date" id="datetimepicker" type="text" />
            @if (ViewData["error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @this.ViewData["error"]
                </div>
            }
        </div>

        <div class="form-group">
            <label>Избери час</label>
            <input class="form-control" asp-for="@Model.Hour" id="timepicker" type="text" />
        </div>


        <hr />
        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Запази" class="btn btn-info btn-sm" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-danger btn-sm">Назад</a>
            </div>
        </div>
        <input type="hidden" asp-for="@Model.BusyAppointment" id="GetBusy" />
        <input type="hidden" asp-for="@Model.FreeAppointment" id="GetFree" />
    </form>
</div>

@*DateTimePicker *@
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css" />
<script src="~/js/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script>
@*<script src="/js/calendar.js"></script>*@

<script>
    $('#datetimepicker').datetimepicker({
        timepicker: false,
        dayOfWeekStart: 1,
        format: 'd.m.Y'
    });
    $.datetimepicker.setLocale('bg');

    var time = $('#timepicker').datetimepicker({
        datepicker: false,
        format: 'H:i'
    });

    let currentData;
    let getFreeAppointment = document.getElementById("GetFree").value;
    let freeAppointment = $.parseJSON(getFreeAppointment);

    let freeDic = [];

    freeAppointment.forEach(x => {
        let split = x.split(' ');
        let d = split[0];
        let h = split[1];

        if (!freeDic.hasOwnProperty(d)) {
            freeDic[d] = new Array();
            freeDic[d].push(h);
        }
        else if (!freeDic[d].includes(h)) {
            freeDic[d].push(h);
        }
    });

    $("#datetimepicker").change(function () {
        currentData = $("#datetimepicker").val()

        if (freeDic.hasOwnProperty(currentData)) {

            let freeHours = freeDic[currentData];
            time.datetimepicker('setOptions', { allowTimes: freeHours });
        }
        else {
            time.datetimepicker('setOptions', {
                allowTimes:
                    [
                        "09:00", "09:30",
                        "10:00", "10:30",
                        "11:00", "11:30",
                    ]
            });
        }

    });
</script>
